body{
    margin: 1vh 5vw 1vh 5vw;
    
    display: flex;

    font-size: 2em;
}

aside{
    background-color: red;

    flex-grow: 4;
    
    .asside-content{
        margin: 10vh 5vw 10vh 5vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    button{
        margin: 0 0 5vh 0;
        padding: 0.75em 1em 0.75em 1em;

        font-size: 1em;
        background-color: blue;
    }

    h2{
        text-align: center;
    }
}

h1 {
    text-align: center;
}

main{
    background-color: green;

    p {
        margin: 10vh 5vw 10vh 5vw;
    }
}

.hidden{
    position: absolute;
    top: -999999px;
    left: -999999px;
}

#tale{
    
    #images{
        height: 60vh;
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;

        img{
            height: 100%;
        }

        #img01{
            height: 50vh;
            width: auto;
        }

        #img02{
            height: 25vh;
            width: auto;
        }
    }

    p{
        margin-top: -3vh;
    }
}

a{
    margin: 2vh 0 2vh 2vw;
}

#btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a{
        padding: 2vh 2vw;
        border-radius: 2rem;
        color: black;
        background-color: gray;
    }

    img{
        vertical-align: middle;
    }
}

.btn{
    width: 3vw;
}

.flag{
    margin: 0 2vw 0 2vw;
    height: 6vh;
    vertical-align: middle;
    float: right;
}

.flags{
    display: flex;
    flex-direction: column;
}